.App {
  text-align: center;
  background-image: url('../public/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
  background-image: url('../public/logo.jpg');
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  border-top: 2px solid transparent;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 14px;
  padding: 10px 20px;
  align-items: center;
  font-weight: bold;
}

.room-name{
  font-weight: bold;
  color: rgb(167, 5, 5);
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.room-box{
  
  border: 3px solid #000;
  border-radius: 8px;
  height: 50px;
  line-height: normal;
  color: #282828;
  display: block;
  margin-left: 25%;
  width: 50%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
  :focus{
      border: 3px solid #5551ff;
  }
  
}